<section class="sessions-view" id="new_session-view">
  <h2 class="title-label"><%=t "views.devise.links.sign_up" %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @validatable %>
      <em>(<%= @minimum_password_length %> <%=t "views.devise.sign_up.minimum_characters" %>)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit (t "views.devise.links.sign_up") %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</section>