<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
	<title>FAQ </title>
</head>
<body>
<header>
	<h1>FAQ E-commerce</h1>
</header>
<section class="cd-faq">
	<ul class="cd-faq-categories">
		<li><a class="selected" href="#basics">Sección 1</a></li>
		<li><a href="#mobile">Sección 2</a></li>
		<li><a href="#account">Sección 3</a></li>
		<li><a href="#payments">Sección 4</a></li>
		<li><a href="#privacy">Sección 5</a></li>
	</ul> <!-- cd-faq-categories -->

	<div class="cd-faq-items">
		<ul id="basics" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Sección 1</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">¿Necesito agente aduanal, permisos, etc?
</a>
				<div class="cd-faq-content">
					<p>No, xxxxxx cuenta con sus propios agentes aduanales y los permisos necesarios para realizar las importaciones. </p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">¿Que sucede si un paquete llega dañado, golpeado, incompleto o abierto? </a>
				<div class="cd-faq-content">
					<p>Al momento de recibir los paquetes en la bodega si a simple vista se detectan paquetes dañados, golpeados o abiertos, estos serán rechazados y devueltos a su remitente sin firmar su recepción. Si el transportista lo permite se revisará la mercancía incluida en los paquetes abiertos o con aparentes daños para verificar que no existan faltantes o daños aparentes, si el transportista niega dicha revisión, el envío será rechazado y devuelto a su remitente.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">¿Cuentan con Control y Status al Día de Sus Embarques?</a>
				<div class="cd-faq-content">
					<p>Contamos con el sistema XXXX, integración de la cadena de suministro en la nube, con el cual podemos mantener a nuestros clientes informados del status y requerimientos de todos sus embarques al día, logrando así que la cadena de suministro (supply chain) sea mas eficiente.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Toda la mercancía debe viajar Asegurada?</a>
				<div class="cd-faq-content">
					<p>Este punto debe de quedar mencionado en las reglas de negocio dentro de su contrato de servicios.</p>
				</div> <!-- cd-faq-content -->
			</li>
		</ul> <!-- cd-faq-group -->

		<ul id="mobile" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Sección 2</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">¿Cómo se envían mis embarques a México?</a>
				<div class="cd-faq-content">
					<p>Todos los días hábiles de la semana se envía mercancía por medio de nuestras alianzas estratégicas con las principales mensajerías y paqueterías del país con un tiempo de entrega inigualable de 24 a 72 horas según el destino.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">¿Cuánto cuestan los servicios?</a>
				<div class="cd-faq-content">
					<p>Nuestro servicio integral es el de mayor calidad en el mercado y garantizamos la tarifa más baja, favor de contactarnos para cotizar el servicio.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">¿El paquete o mercancía enviada a las bodegas en TX debe contener forzosamente ticket o factura de compra?</a>
				<div class="cd-faq-content">
					<p>Si, los paquetes y mercancías deben contener invoice, ticket o factura de la compra antes de importar. </p>
				</div> <!-- cd-faq-content -->
			</li>
		</ul> <!-- cd-faq-group -->

		<ul id="account" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Sección 3</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">¿Qué pasa si no contiene invoice, ticket o factura el paquete?</a>
				<div class="cd-faq-content">
					<p>Le solicitaremos vía e-mail su respectivo comprobante de valor el cual puede ser la factura, invoice, ticket o el e-mail que se genero al momento importar la mercancía.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">¿Cómo se realiza el pago de los servicios?</a>
				<div class="cd-faq-content">
					<p>Tarjeta de Crédito, Paypal, depósitos y transferencias bancarias. </p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">¿Qué pasa si existe una devolución de una compra? </a>
				<div class="cd-faq-content">
					<p>La devolución le será reportada de acuerdo con las reglas de negocio emitidas en su contrato y cargada a su cuenta para el envío de las misma y un pequeño cargo por el servicio por concepto de manejo</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">¿Qué pasa si quiero importar un artículo que no puede ser importado por el momento?  </a>
				<div class="cd-faq-content">
					<p>Una vez que se haya registrado se le enviara cuando se encuentre el servicio listo para ese tipo de productos.</p>
				</div> <!-- cd-faq-content -->
			</li>
		</ul> <!-- cd-faq-group -->

		<ul id="payments" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Sección 4</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">¿Cuál es el costo del envío a mi domicilio?</a>
				<div class="cd-faq-content">
					<p>Para mercancías generales el costo del envío es de $XXX USD por cada caja de hasta XXXKg a cualquier parte de la República, con un tiempo de entrega de 24 a 72 horas según el destino. Para mercancías especiales consideradas de carga favor de contactarnos..</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">¿Qué productos no puedo Importar? </a>
				<div class="cd-faq-content">
					<p>Favor de ver el apartado de artículos prohibidos en la sección de Servicios.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">¿Cuánto tardan los envíos de los proveedores a la bodega en Texas? </a>
				<div class="cd-faq-content">
					<p>Dependerá del servicio de envío de la tienda o proveedor.</p>
				</div> <!-- cd-faq-content -->
			</li>
		</ul> <!-- cd-faq-group -->

		<ul id="privacy" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Sección 5</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">¿XXXXXX emite facturas?</a>
				<div class="cd-faq-content">
					<p>Sí, xxxxx Expide facturas electrónicas por concepto de los servicios de recepción, importación, manejo, envío, seguro, devoluciones y almacenaje. En caso de requerir factura del total de la mercancía, favor de contactarnos.</p>
				</div> <!-- cd-faq-content -->
			</li>
		</ul> <!-- cd-faq-group -->

	</div> <!-- cd-faq-items -->
	<a href="#0" class="cd-close-panel">Close</a>
</section> <!-- cd-faq -->
<script src="js/jquery-2.1.1.js"></script>
<script src="js/jquery.mobile.custom.min.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>