<head>

    <title>E-Commerce</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">E-</span>Commerce
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Acerca de </a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">Preguntas Frecuentes</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Entrar</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">E-Commerce</h1>
                        <p class="intro-text">Somos una comercializadora mexicana que ofrece servicios integrales de recepción, manejo, importación y envío de mercancías generales de Estados Unidos a México.</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>¿Quiénes somos?</h2>
                <p>Brindamos servicio desde particulares, micro empresas y PyMEs hasta grandes corporaciones. Para nosotros todo cliente es importante.</p>
                <p>Contamos con oficinas de atención a clientes y ventas en la Ciudad de Monterrey, NL con tres centros operativos en Cd. Juárez, Chihuahua; Reynosa, Tamaulipas, y Tijuana, Baja California además de bodegas en las ciudades de San Diego, California; El Paso y McAllen, Texas.</p>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Preguntas frecuentes</h2>
                    <p>Haga click aquí si tiene alguna duda de nuestros servicios</p>
                    <a class="btn btn-default btn-lg" href="/faq" >Preguntas frecuentes</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Entrar</h2>
                <p>Accese a su cuenta si ya posee una o regístrese con sus datos personales y los de su empresa si fuese el caso para crear una cuenta con nosotros. Se le proporciona la dirección de nuestras bodegas para enviar los productos que adquiera en USA.</p>
                <p>Contacto: <a href="mailto:comercial@grupoalmex.mx">contacto@e-commercedemo.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">

                    <li>
                        <a href="/users/sign_in " class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Acceso y registro</span></a>
                    </li>

                </ul>
            </div>
        </div>
    </section>

    <!-- Map Section -->
    <div id="map"></div>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p> E-Commerce S.A. de C.V. - Ejemplo No. 3.14 - Col. E - C.P. 12345, México D.F. - Tel. 1234-5678</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>

</body>

</html>
