<section class="sessions-view" id="new_password-view">
  <h2 class="title-label">Cambio de contraseña</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%= f.label :password, "Nueva contraseña" %><br />
      <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Confirmar nueva contraseña" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Cambiar mi contraseña" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</section>