<section class="sessions-view" id="new_password-view">
	<h2 class="title-label"><%=t "views.devise.links.forgot_password" %></h2>

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="field">
	    <%= f.label :email %><br />
	    <%= f.email_field :email, autofocus: true %>
	  </div>

	  <div class="actions">
	    <%= f.submit (t "views.devise.links.send_instructions") %>
	  </div>
	<% end %>

	<%= render "devise/shared/links" %>
</section>