<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Rfc:</strong>
  <%= @company.RFC %>
</p>

<p>
  <strong>Billing address:</strong>
  <%= @company.billing_address %>
</p>

<p>
  <strong>Shipping address:</strong>
  <%= @company.shipping_address %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
