<section class="sessions-view" id="new_session-view">
  <% set_locale %>
  <h2 class="title-label"><%=t "views.devise.sessions.platform"%></h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field" id="email-field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field" id="password-field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field" id="remember_me-field">
        <%= f.check_box :remember_me %>
        <%= t "views.devise.remember_me" %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit t "views.devise.login" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</section>