<p id="notice"><%= notice %></p>

<h1>Listing Customs Agents</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Last name</th>
      <th>Key</th>
      <th>Email</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customs_agents.each do |customs_agent| %>
      <tr>
        <td><%= customs_agent.name %></td>
        <td><%= customs_agent.last_name %></td>
        <td><%= customs_agent.key %></td>
        <td><%= customs_agent.email %></td>
        <td><%= customs_agent.phone %></td>
        <td><%= link_to 'Show', customs_agent %></td>
        <td><%= link_to 'Edit', edit_customs_agent_path(customs_agent) %></td>
        <td><%= link_to 'Destroy', customs_agent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customs agent', new_customs_agent_path %>
