<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customs_agent.name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customs_agent.last_name %>
</p>

<p>
  <strong>Key:</strong>
  <%= @customs_agent.key %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customs_agent.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customs_agent.phone %>
</p>

<%= link_to 'Edit', edit_customs_agent_path(@customs_agent) %> |
<%= link_to 'Back', customs_agents_path %>
