body
	.sessions-view
		border-radius: 1.5em
		border-style: outset
		border-color: black
		padding: 1em
		margin: 6% 0 6% 0
		+span-columns(4)
		+shift(4)

		.title-label
			width: 100%
			font-size: xx-large
			
		#remember_me-field
			color: darkgray

		.actions
			margin: 1em 0 1em 0

	.success-view
		text-align: center
		border-radius: 1.5em
		border-style: outset
		border-color: black
		padding: 1em
		margin: 16% 0 6% 0
		+span-columns(2)
		+shift(5)

		.title-label
			width: 100%
			font-size: xx-large
			
		#remember_me-field
			color: darkgray

		.actions
			margin: 1em 0 1em 0

	.registrations-view
		border-radius: 1.5em
		border-style: outset
		border-color: black
		padding: 1em
		margin: 2.5% 0 0 0
		+span-columns(6)
		+shift(3)

		.title-label
			width: 100%
			font-size: xx-large
			
		#remember_me-field
			color: darkgray

		.actions
			margin: 1em 0 1em 0

	.logout_button_register
		float: right
		width: auto
		margin-top: -8%