<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Height</th>
      <th>Width</th>
      <th>Length</th>
      <th>Weight</th>
      <th>Special considerations</th>
      <th>Company</th>
      <th>Origin certificate</th>
      <th>Shipment type</th>
      <th>Shipping address</th>
      <th>Return to address</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.height %></td>
        <td><%= product.width %></td>
        <td><%= product.length %></td>
        <td><%= product.weight %></td>
        <td><%= product.special_considerations %></td>
        <td><%= product.company %></td>
        <td><%= product.origin_certificate %></td>
        <td><%= product.shipment_type %></td>
        <td><%= product.shipping_address %></td>
        <td><%= product.return_to_address %></td>
        <td><%= product.quantity %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
