<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Height:</strong>
  <%= @product.height %>
</p>

<p>
  <strong>Width:</strong>
  <%= @product.width %>
</p>

<p>
  <strong>Length:</strong>
  <%= @product.length %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @product.weight %>
</p>

<p>
  <strong>Special considerations:</strong>
  <%= @product.special_considerations %>
</p>

<p>
  <strong>Company:</strong>
  <%= @product.company %>
</p>

<p>
  <strong>Origin certificate:</strong>
  <%= @product.origin_certificate %>
</p>

<p>
  <strong>Shipment type:</strong>
  <%= @product.shipment_type %>
</p>

<p>
  <strong>Shipping address:</strong>
  <%= @product.shipping_address %>
</p>

<p>
  <strong>Return to address:</strong>
  <%= @product.return_to_address %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
