<p id="notice"><%= notice %></p>

<h1>Listing Legal Representatives</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Last name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @legal_representatives.each do |legal_representative| %>
      <tr>
        <td><%= legal_representative.name %></td>
        <td><%= legal_representative.last_name %></td>
        <td><%= legal_representative.phone %></td>
        <td><%= legal_representative.email %></td>
        <td><%= legal_representative.company %></td>
        <td><%= link_to 'Show', legal_representative %></td>
        <td><%= link_to 'Edit', edit_legal_representative_path(legal_representative) %></td>
        <td><%= link_to 'Destroy', legal_representative, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Legal representative', new_legal_representative_path %>
