<section class="registrations-view">
  <h1>Enter The Company's Legal Representative Info</h1><div class="logout_button_register"><%= button_to (t 'views.devise.logout'), destroy_user_session_path, :method => :delete %></div>
  <%= render 'form' %>
</section>
