<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @legal_representative.name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @legal_representative.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @legal_representative.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @legal_representative.email %>
</p>

<p>
  <strong>Company:</strong>
  <%= @legal_representative.company %>
</p>

<%= link_to 'Edit', edit_legal_representative_path(@legal_representative) %> |
<%= link_to 'Back', legal_representatives_path %>
